@model Backend.Marca

<h1>Cadastro de Marcas</h1>

@using (Html.BeginForm("Create", "Marca", FormMethod.Post))
{

<div class="col-md-3">
    <div class="form-group">
        @Html.HiddenFor(x => x.Id)
        @Html.Label("Nome")
        @Html.TextBoxFor(x => x.Nome, new { @class = "form-control", @required = true })
    </div>


    <input type="submit" value="Salvar" class="btn btn-primary" />
    @Html.ActionLink("Voltar", "Index", "Marca", null, new { @class = "btn btn-primary" })

</div>

}
